services:
  frontend:
    container_name: autoclave-frontend
    image: autoclave-frontend
    ports:
      - 80:80
    restart: always
    
  backend:
    volumes:
      - ./logs:/usr/app/logs
    environment:
      - TZ=Asia/Taipei
    container_name: autoclave-backend
    restart: unless-stopped
    ports:
      - 5002:5002
    image: autoclave-backend
    env_file:
      - .env

  database:
    image: mysql:8.0.33
    container_name: autoclave-db
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=1qaz@WSX3edc
      - MYSQL_DATABASE=autoclave
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=admin
      - TZ=Asia/Taipei
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always


  phpmyadmin:
    image: phpmyadmin:latest
    container_name: autoclave-phpmyadmin
    restart: always
    ports:
      - "8082:80"
    depends_on:
      - database
    links:
      - database
    environment:
      PMA_HOST: database
      PMA_PORT: 3306

volumes:
  mysql_data:
